﻿@model IList<SlidingChildRows.Models.Person>

<table class="table">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Birth Year
        </th>
        <th>
            Hair Color
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var person in Model)
    {
        <tr>
            <td>@person.Name</td>
            <td>@person.BirthYear</td>
            <td>@person.HairColor</td>
        </tr>
    }
    </tbody>
</table>