﻿@{
    ViewBag.Title = "Home Page";
}

<table id="planetTable" class="table table-condensed">
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Terrain</th>
    </tr>
    </thead>

</table>

@section scripts
{
    <script>

        $(document)
            .ready(function() {

                var table = $('#planetTable').DataTable({
                    order: [[0, 'asc']],
                    processing: false,
                    serverSide: true,
                    searchDelay: 800,
                    stateSave: true,
                    deferRender: true,
                    ajax: {
                        url:'@Url.Action("Planets")',
                        type: 'POST'
                    },
                    columns: [
                          {
                              "className": 'details-control',
                              "orderable": false,
                              "data": null,
                              "defaultContent": ''
                          },
                        { data: 'name' },
                        { data: 'terrain'}
                    ],
                    createdRow: function(row, data, rowIndex) {
                        $(row).attr('data-url', data.url);
                    }
                });


                // Add event listener for opening and closing details
                $('#planetTable tbody').on('click', 'td.details-control', function () {
                    var tr = $(this).closest('tr');
                    var row = table.row(tr);

                    if (row.child.isShown()) {
                        // This row is already open - close it
                        row.child.hide();
                        tr.removeClass('shown');
                    }
                    else {
                        // Open this row

                        var planetUrl = tr.data('url');

                        $.ajax({
                            url: '@Url.Action("People")',
                            data: { "planetUrl": planetUrl },
                            success: function (result) {
                                
                                row.child(result).show();
                                tr.addClass('shown');

                            }
                        });


                    }
                });

            });

    </script>

}